/* Tablet screens (769px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-logo {
    width: 30vw;
  }

  .login-button,
  .signup-button {
    font-size: 1.4vw;
    padding: 1.2vw 2.4vw;
  }

  .hero-div {
    align-items: center;
    gap: 3vw;
  }

  .hero-image {
    width: 40vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
  }

  .hero-items {
    padding-top: 1vw;
  }

  .hero-item1 {
    font-size: 2vw;
    margin-right: 10vw;
  }

  .hero-item2 {
    font-size: 7vw;
  }

  .hero-item3 {
    font-size: 2.4vw;
  }

  .widgets-div {
    gap: 2vw;
  }

  .menu {
    margin: 0 5vw 5vw 5vw;
  }

  .menu-div {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .menu-grid {
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }

  .menu-grid > div {
    width: 35vw;
    margin: 0 auto;
    text-align: center;
  }

  .menu-grid > div img {
    width: 100% !important;
  }

  .footer {
    height: auto;
    padding-bottom: 4vw;
  }

  .footer-div {
    align-items: center;
    padding: 0 4vw;
  }

  .footer-logo-image {
    width: 35vw;
    margin: 4vw 0 0 0;
  }

  .footer-input {
    margin: 3vw 0 0 0;
  }

  .footer-copy {
    margin: 3vw auto 0 auto;
    text-align: center;
  }
}

/* Normal mobile screens (481px – 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .navbar {
    align-items: center;
    padding: 2vw 4vw;
  }

  .navbar-logo {
    width: 40vw;
    margin: 0;
  }

  .navbar-buttons {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 6vw;
    margin-right: 2vw;
  }

  .hero-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 6vw;
  }

  .hero-image {
    width: 60vw;
    margin: 0;
  }

  .hero-items {
    padding-top: 4vw;
  }

  .hero-item1 {
    font-size: 3vw;
    margin: 4vw auto 0 auto;
    width: 80%;
    text-align: center;
  }

  .hero-item2 {
    font-size: 9vw;
  }

  .hero-item3 {
    font-size: 4vw;
  }

  .widgets-div {
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    padding: 0 6vw;
  }

  .widget1,
  .widget2,
  .widget3 {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .widget1-div,
  .widget2-div,
  .widget3-div {
    text-align: center;
  }

  .voucher-logo,
  .grocery-logo,
  .rider-logo {
    width: 14vw !important;
    margin: 0 auto 1vw auto !important;
    display: block;
  }

  .menu {
    margin: 0 6vw 8vw 6vw;
  }

  .menu-div {
    width: 60vw;
    margin: 0 auto 8vw auto;
    text-align: center;
    font-size: 3.5vw;
  }

  .menu-grid {
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
  }

  .menu-grid > div {
    width: 40vw;
    margin: 0 auto;
    text-align: center;
  }

  .menu-grid > div img {
    width: 100% !important;
  }

  .menu-grid > div > div:nth-child(2) {
    font-size: 3vw !important;
  }

  .footer {
    height: auto;
    padding-top: 4vw;
    padding-bottom: 6vw;
  }

  .footer-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4vw;
  }

  .footer-logo-image {
    width: 50vw;
    margin: 0;
  }

  .footer-input {
    margin: 0;
  }

  .footer-input > div:nth-child(2) {
    flex-direction: column !important;
    gap: 2vw;
    align-items: center;
  }

  .footer-input-box {
    width: 60vw;
  }

  .footer-submit-button {
    margin-left: 0;
    width: 40vw;
  }

  .social-links {
    justify-content: center;
    gap: 4vw;
  }

  .social-links .fa-facebook,
  .social-links .fa-instagram,
  .social-links .fa-twitter {
    font-size: 6vw;
  }

  .footer-copy {
    margin: 4vw auto 0 auto;
    text-align: center;
  }
}

/* Small mobile screens (up to 480px) */
@media (max-width: 480px) {
  body {
    font-size: 13px;
  }

  .navbar {
    align-items: center;
    padding: 3vw 4vw;
  }

  .navbar-logo {
    width: 50vw;
    margin: 0;
  }

  .navbar-buttons {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 7vw;
    margin-right: 2vw;
  }

  .hero-section {
    margin-bottom: 8vw;
  }

  .hero-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
  }

  .hero-image {
    width: 70vw;
    margin: 0;
  }

  .hero-items {
    padding-top: 5vw;
  }

  .hero-item1 {
    font-size: 4vw;
    margin: 5vw auto 0 auto;
    width: 85%;
    text-align: center;
    margin-bottom: 5vw;
  }

  .hero-item2 {
    font-size: 11vw;
    margin-bottom: 2vw;
  }

  .hero-item3 {
    font-size: 4.5vw;
  }

  .widgets {
    margin-bottom: 8vw;
  }

  .widgets-div {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    padding: 0 5vw;
  }

  .widget1,
  .widget2,
  .widget3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .widget1-div,
  .widget2-div,
  .widget3-div {
    text-align: center;
  }

  .voucher-logo,
  .grocery-logo,
  .rider-logo {
    width: 18vw !important;
    margin: 0 auto 1.5vw auto !important;
    display: block;
  }

  .menu {
    margin: 0 5vw 10vw 5vw;
  }

  .menu-div {
    width: 70vw;
    margin: 0 auto 10vw auto;
    text-align: center;
    font-size: 4vw;
  }

  .menu-grid {
    grid-template-columns: 1fr;
    gap: 8vw;
  }

  .menu-grid img {
    width: 70vw !important;
  }

  .menu-grid > div {
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
  }

  .menu-grid > div > div:nth-child(2) {
    font-size: 4vw !important;
  }

  .footer {
    height: auto;
    padding-top: 6vw;
    padding-bottom: 10vw;
  }

  .footer-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vw;
  }

  .footer-logo-image {
    width: 60vw;
    margin: 0;
  }

  .footer-input {
    margin: 0;
  }

  .footer-input > div:nth-child(2) {
    flex-direction: column !important;
    gap: 3vw;
    align-items: center;
  }

  .footer-input-box {
    width: 70vw;
  }

  .footer-submit-button {
    margin-left: 0;
    width: 50vw;
  }

  .social-links {
    justify-content: center;
    gap: 5vw;
  }

  .social-links .fa-facebook,
  .social-links .fa-instagram,
  .social-links .fa-twitter {
    font-size: 7vw;
  }

  .footer-copy {
    margin: 5vw auto 0 auto;
    text-align: center;
  }
}

