*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* navbar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
/* navbar logo */
.navbar-logo{
    width: 25vw;
    margin: 1vw 0vw 0vw 2vw;
}
/* navbar buttons */
.navbar-buttons{
    margin: 1.5vw 3vw 0vw 0vw;
}
.login-button{
    background-color: rgb(241, 202, 8);
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw 2.2vw 1vw 2.2vw;
    border: none;
    border-radius: 2vw;
    margin-right: 0.8vw;
    cursor: pointer;
}
.login-button:hover{
    background-color: orange;
    transform: translateY(-0.3vw);
    transition: all 0.2s ease-in;
}
.signup-button{
    background-color: rgb(241, 202, 8);
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw 2vw 1vw 2vw;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
}
.signup-button:hover{
    background-color: orange;
    transform: translateY(-0.3vw);
    transition: all 0.2s ease-in;
}
.hero-section{
    margin-bottom: 3vw;
}
/* hero section styling */
.hero-div{
    display: flex;
    justify-content: space-around;
}
/* hero image styling */

.hero-image{
    width: 35vw;
    margin-left: 7vw;
}

/* hero items styling */

.hero-items{
    padding-top: 2vw;
}
.hero-item1{
    background-color:  rgb(29, 150, 11);
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    padding: 1vw;
    border-radius: 1vw; 
    text-align: left;
    margin-right: 20vw;
    margin-top:3vw;
}
.hero-item2{
    font-size: 6.5vw;
    font-weight: bold;
    color: #272727;
    padding-top: 1vw;
    font-family: 'Bubblegum Sans', cursive;
}
.hero-item3{
    padding-top: 1vw;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    font-size: 2vw;
}

/* Widgets Styling */
.widgets{
    margin-bottom: 4vw;
}
.widgets-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}
.widget1{
    display: flex;
    flex-direction: row;    
}

.widget2{
    display: flex;
    flex-direction: row;    
}

.widget3{
    display: flex;
    flex-direction: row;    
}

/* Menu section styling */

.menu{
    margin: 0vw 7vw 0vw 7vw;
    margin-bottom: 5vw;
}
.menu-div{
    background-color: rgb(241, 202, 8);
    font-size: 2vw;
    color: white;
    font-weight: bold;
    width:20vw;
    margin-left: 31vw;
    margin-bottom: 6vw;
    padding: 1vw 0vw 1vw 2vw;
    border-radius: 1vw;
}
.menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
}
.asian{
    display: flex;
    flex-direction: column; 
    transition: all 0.3s ease-in;
}
.asian:hover{
    transform: translateY(-1vw);   
}
.italian{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
.italian:hover{
    transform: translateY(-1vw);   
}
.chinese{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
.chinese:hover{
    transform: translateY(-1vw);   
}
.mexican{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
.mexican:hover{
    transform: translateY(-1vw);   
}
.french{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
.french:hover{
    transform: translateY(-1vw);   
}
.korean{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
.korean:hover{
    transform: translateY(-1vw);   
}