body{
    background-color: black;
}
.button{
    border: 2px solid black;
    padding: 2px;
    color: green;
    background-color: bisque;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button:hover{
    opacity: 0.7;
}

.main{
    background-color: black;
    border: 5px solid white;
    height: 40px;
}
.amazon{
    display: inline;
    color: rgb(250, 192, 0);
    margin: 50px;
    
}
.account{
    display: inline;
    color: white;
    margin: 100px;
}
.cart{
    display: inline;
    color: white;
    margin: 100px;
}
.contact{
    display: inline;
    color: white;
    margin: 100px;
}
.inputbox{
    display: inline;
}
.search{
    display: inline;
}
.search-button{
    background-color: rgb(255, 187, 0);
    color: white;
}